<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin :: html_header-admin }">

<body onload="checkRequestParameter()">
<div id="eq-loader">
    <div class="eq-loader-div">
        <div class="eq-loading dual-loader mx-auto mb-5"></div>
    </div>
</div>

<!--  BEGIN NAVBAR  -->
<header th:replace="~{admin  :: my-header-admin}"></header>
<!--  END NAVBAR  -->
<!--  BEGIN PROFILE SIDEBAR  -->


<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="ps-overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN MODERN  -->
    <div th:replace="~{admin  :: modern-admin}"></div>
    <!--  END MODERN  -->

    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content ">
        <div class="container " style="margin-top: 50px;">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
<!--                        <form th:object="${product}" method="post" enctype="multipart/form-data">-->

                        <form id="form" method="post" action="/admin/book" th:object="${book}" enctype="multipart/form-data">
                            <input type="hidden" th:field="*{id}" />
                            <div class="row">
                                <h2 class="col-12 text-center mb-4">Book</h2>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="bookName">Book Name</label>
                                                <input type="text" class="form-control" id="bookName" name="bookName" th:field="*{name}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="author">Author</label>
                                                <input type="text" class="form-control" id="author" name="author" th:field="*{author}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" id="description" name="description" rows="5" th:field="*{description}" required></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="publishDate">Publish Date</label>
                                                <input type="date" class="form-control" id="publishDate" name="publishDate" th:field="*{publishDate}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="numberOfPages">Number of Pages</label>
                                                <input type="number" class="form-control" id="numberOfPages" name="numberOfPages" th:field="*{numberOfPage}" >
                                            </div>
                                        </div>
                                        <input type="hidden" class="form-control"  th:field="*{cover}" >
                                    </div>
                                    <div class="form-group">
                                        <label for="genre">Genre</label>
                                        <select class="form-control" id="genre" name="genre" th:field="*{genre}">
                                            <option value="" disabled>Select Genre</option>
                                            <option value="Khoa học viễn tưởng">Khoa học viễn tưởng</option>
                                            <option value="Thần bí">Thần bí</option>
                                            <option value="Tình cảm">Tình cảm</option>
                                            <option value="Rừng rợn">Rừng rợn</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="offset-md-3">
                                        <div class="form-group">
                                            <label for="bookCover">Book Cover</label>
                                            <input type="file" class="form-control-file"
                                                   id="bookCover" name="bookCover" accept="image/png, image/jpeg, image/jpg"
                                                   onchange="previewImage(event)">
                                        </div>
                                        <div class="form-group">
                                            <img id="preview" th:src="@{'/image/'+${book.cover}}" alt="Preview" style="max-height: 200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 offset-5 ml-auto text-end">
                                    <div th:unless="${type.VIEW == type}">
                                        <button type="button" class="btn btn-primary" id="saveBook">Save</button>
                                    </div>
                                    <div th:if="${type.VIEW == type}">
                                        <a th:href="@{'/admin/book/edit/' + ${book.id}}" >
                                            <button type="button" class="btn btn-primary">EDIT</button>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 ml-auto text-end">
                                    <a th:href="@{'/admin/book'}"  class="btn btn-primary">Back</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn lưu thay đổi?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmButton">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--  END CONTENT PART  -->
<!--  END MODERN  -->
<footer th:replace="~{admin  :: admin-footer}"></footer>
<!--  END FOOTER  -->

<!--  BEGIN PROFILE SIDEBAR  -->
<aside th:replace="~{admin  :: admin-profile}"></aside>
</body>
<script>
    // Show the confirmation modal when the "Add Book" button is clicked
    document.getElementById("saveBook").addEventListener("click", function() {
        $('#confirmModal').modal('show');
    });

    // Handle the confirmation action when the "Confirm" button in the modal is clicked
    document.getElementById("confirmButton").addEventListener("click", function() {
        document.getElementById("form").submit();
    });
</script>

<script>
    function previewImage(event) {
        var preview = document.getElementById('preview');
        var reader = new FileReader();
        reader.onload = function () {
            preview.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    const viewType = /*[[${type}]]*/
    /*]]>*/
        function checkRequestParameter() {
        if (viewType !== 'VIEW') {
            document.getElementById('bookName').disabled = false;
            document.getElementById('author').disabled = false;
            document.getElementById('description').disabled = false;
            document.getElementById('genre').disabled = false;
            document.getElementById('publishDate').disabled = false;
            document.getElementById('numberOfPages').disabled = false;
            document.getElementById('bookCover').disabled = false;
        } else {
            document.getElementById('bookName').disabled = true;
            document.getElementById('author').disabled = true;
            document.getElementById('description').disabled = true;
            document.getElementById('genre').disabled = true;
            document.getElementById('publishDate').disabled = true;
            document.getElementById('numberOfPages').disabled = true;
            document.getElementById('bookCover').disabled = true;
        }
    }

</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:insert="~{admin  :: script}"></th:block>
</html>