<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="html_header-admin">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Admin Rent-A-Book </title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}"/>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" .href="./image/578b1438ff0a7fc4704aa5ade7625e89.jpeg" type="image/png">

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link th:href="@{/assets/css/loader.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'" rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/plugins.css}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <link rel="stylesheet" type="text/css" th:href="@{/plugins/table/datatable/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/ecommerce/order.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/scss/style.css}">
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link th:href="@{/plugins/maps/vector/jvector/jquery-jvectormap-2.0.3.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/charts/chartist/chartist.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/default-dashboard/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/ecommerce-dashboard/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/ecommerce/addedit_product.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/ecommerce-dashboard/timeline.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../static/assets/scss/style.css">
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
</head>

<body>
<div id="eq-loader">
    <div class="eq-loader-div">
        <div class="eq-loading dual-loader mx-auto mb-5"></div>
    </div>
</div>

<!--  BEGIN NAVBAR  -->
<header class="desktop-nav header navbar fixed-top" th:fragment="my-header-admin">
    <div class="nav-logo mr-sm-5 ml-sm-4">
        <a href="javascript:void(0);" class="nav-link sidebarCollapse d-inline-block mr-sm-5"
           data-placement="bottom">
            <i class="flaticon-menu-line-3"></i>
        </a>
        <a th:href="@{/admin}" class=""> <img width="50px" th:src="@{/image/channels4_profile.jpg}"
                                              class="img-fluid" alt="logo"></a>
    </div>
    <ul class="navbar-nav flex-row mr-auto">
        <li class="nav-item ml-4 d-lg-none d-sm-block d-none">
            <form class="form-inline search-full form-inline search animated-search" role="search">
                <i class="flaticon-search-1 d-lg-none d-block"></i>
                <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Search...">
            </form>
        </li>
        <li class="nav-item d-lg-block d-none">
            <form class="form-inline form-inline search animated-search" role="search">
                <i class="flaticon-search-1 d-lg-none d-block"></i>
                <input type="text" class="form-control search-form-control" placeholder="Tìm kiếm tại đây...">
            </form>
        </li>
    </ul>

    <ul class="navbar-nav flex-row ml-lg-auto">

        <li
                class="nav-item dropdown language-dropdown ml-4 mr-4 pr-3 pl-3 align-self-center d-lg-inline-block d-none">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="flagDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class=""></span>
            </a>
        </li>

        <li class="nav-item dropdown user-profile-dropdown pl-4 pr-lg-0 pr-2 ml-lg-2 mr-lg-4  align-self-center">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle user">
                <div class="user-profile d-lg-block d-none">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6p1uHt5NGPGppq1t48xlKt18PfNiIX5zCYQ&usqp=CAU"
                         alt="admin-profile" class="img-fluid">
                </div>
                <i class="flaticon-user-7 d-lg-none d-block"></i>
            </a>
        </li>
    </ul>
</header>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->

<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="ps-overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN MODERN  -->
    <div class="modernSidebar-nav header header navbar" th:fragment="modern-admin">
        <div>
            <div class="">
                <nav id="modernSidebar">
                    <ul class="menu-categories pl-0 m-0" id="topAccordion">

                        <li class="menu">
                            <a th:href="@{/admin/book}" class="dropdown-toggle collapsed">
                                <div class="">
                                    <i class="flaticon-home-line"></i>
                                    <span>Quản lý sách</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    <!--  END MODERN  -->

    <!--  BEGIN CONTENT PART  -->
    <!--  END CONTENT PART  -->

</div>
<!-- END MAIN CONTAINER -->

<!--  BEGIN FOOTER  -->
<footer class="footer-section theme-footer" th:fragment="admin-footer">

    <div class="footer-section-1  sidebar-theme">

    </div>

    <div class="footer-section-2 container-fluid">
        <div class="row">
            <div id="toggle-grid" class="col-xl-7 col-md-6 col-sm-6 col-12 text-sm-left text-center">
                <ul class="list-inline links ml-sm-5">
                    <li class="list-inline-item">
                        <a th:href="@{/}">>Rent-A-Book</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-5 col-md-6 col-sm-6 col-12">
                <ul
                        class="list-inline mb-0 d-flex justify-content-sm-end justify-content-center mr-sm-3 ml-sm-0 mx-3">
                    <li class="list-inline-item  mr-3">
                        <p class="bottom-footer">&#xA9; 2023 <a th:href="@{/}">Rent-A-Book</a></p>
                    </li>
                    <li class="list-inline-item align-self-center">
                        <div class="scrollTop"><i class="flaticon-up-arrow-fill-1"></i></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--  END FOOTER  -->

<!--  BEGIN PROFILE SIDEBAR  -->
<aside class="profile-sidebar text-center" th:fragment="admin-profile">
    <div class="profile-content profile-content-scroll">
        <div class="usr-profile">
            <img th:src="@{/assets/img/90x90.jpg}" alt="admin-profile" class="img-fluid"/>
        </div>
        <!--            <p class="user-name mt-4 mb-4"><span th:text="${#authentication.getPrincipal().getFullname()}"></span></p>-->


        <div class="user-links text-left">
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{/logout}"><i class="flaticon-power-off"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!--  BEGIN PROFILE SIDEBAR  -->
</body>
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script th:src="@{/assets/js/libs/jquery-3.1.1.min.js}"></script>
<script th:src="@{/assets/js/loader.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/plugins/blockui/jquery.blockUI.min.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>
<script>
    $(document).ready(function () {
        App.init();
    });
</script>
<script th:src="@{/assets/js/custom.js}"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script th:src="@{/plugins/charts/chartist/chartist.js}"></script>
<script th:src="@{/plugins/maps/vector/jvector/jquery-jvectormap-2.0.3.min.js}"></script>
<script th:src="@{/plugins/maps/vector/jvector/worldmap_script/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/plugins/calendar/pignose/moment.latest.min.js}"></script>
<script th:src="@{/plugins/calendar/pignose/pignose.calendar.js}"></script>
<script th:src="@{/plugins/progressbar/progressbar.min.js}"></script>
<script th:src="@{/assets/js/default-dashboard/default-custom.js}"></script>
<script th:src="@{/assets/js/ui-kit/timeline/horizontal-main.js}"></script>
<script th:src="@{/plugins/progressbar/progressbar.min.js}"></script>
<script th:src="@{/plugins/charts/amcharts/amcharts.js}"></script>
<script th:src="@{/plugins/maps/vector/ammaps/ammap_amcharts_extension.js}"></script>
<script th:src="@{/plugins/maps/vector/ammaps/worldLow.js}"></script>
<script th:src="@{/plugins/charts/amcharts/radar.js}"></script>
<script th:src="@{/plugins/charts/amcharts/pie.js}"></script>
<script th:src="@{/plugins/charts/sparklines/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/charts/amcharts/serial.js}"></script>
<script th:src="@{/plugins/charts/amcharts/light.js}"></script>
<script th:src="@{/plugins/table/datatable/datatables.js}"></script>
<script th:src="@{/assets/js/ecommerce-dashboard/ecommerce-custom.js}"></script>
<script th:src="@{/assets/js/ecommerce/order.js}"></script>

</html>