<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{header :: html_header}">

<body>

<header th:replace="header :: my-header"></header>

<section class="breadcrum">

    </section>
        <div class="section-ptb customer-page register-page" style="padding-bottom: 80px;">
            <div class="container">
                <div class="row log-acc-page register-acc-page pt-5 justify-content-center">
                    <div class="col-lg-4 col-sm-12">
                        <div class="acc-page">
                            <div class="login">
                                <div th:if="${param.error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Incorrect email or password.
                                </div>
                                <form th:action="@{/authen}" method="post">
                                    <div class="login-form-container">
                                        <div class="title-text ">
                                            <h2>Đăng nhập</h2>
                                            <p>Vui lòng điền thông tin vào bên dưới!!!</p>
                                        </div>

                                        <div class="form-group fill-form log-email">
                                            <label for="exampleInputPassword1">Username</label>
                                            <input type="text" class="form-control" id="exampleInputPassword1"
                                                placeholder="Username" name="username"/>
                                        </div>
                                        <div class="form-group fill-form log-lastName">
                                            <label for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword2"
                                                placeholder="Password" name="password"/>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-warning form-control">Đăng
                                            nhập</button>
                                        <div class="pt-3">
                                            <a th:href="@{/createAccount}" id="customer_register">
                                                Tạo tài khoản
                                                <!-- <button type="button" class="btn btn-outline-warning"></button> -->
                                            </a>                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <th:block th:insert="~{header :: script}"></th:block>
</html>