<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{header :: html_header}">

<body>
<header th:replace="header :: my-header"></header>

<section class="breadcrum">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb container">
              <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
              <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
          </nav>
    </section>
    <main>
        <section class="shop-details-area pt-100 pb-100">
            <div class="container">
                <div class="row" th:object="${book}">
                    <div class="col-lg-6">
                        <div class="shop-product-details-content pl-70 mt-35">
                            <span>Trong kho</span>
                            <h2 class="title" th:utext="*{name}"></h2>
                            <input type="hidden" id="productId" value="1">
                            <div class="pricing">
                            <form th:action="@{'/product/' + ${productDetail.id}}" method="post">
                                <div class="shop-buttons d-block d-sm-flex align-items-center">
                                    <div class="product-quantity" id="quantity">
                                        <button type="button" id="sub" class="sub">-</button>
                                        <input type="text" id="1" value="1" th:name="quantity">
                                        <button type="button" id="add" class="add">+</button>
                                    </div>
                                    <button class="main-btn ml-10" type="submit">Thêm vào giỏ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <div th:replace="index :: my-cart"></div>
    
    </main>
    <footer th:replace = "~{footer :: html_footer}"> </footer>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:insert="~{header :: script}"></th:block>
</html> 